In [4]:
import plotly.graph_objects as go
from dash import html
import pandas as pd
from dotenv import load_dotenv
import os

load_dotenv()
mapbox_access_token = os.getenv('MAPBOX_TOKEN')

df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/Nuclear%20Waste%20Sites%20on%20American%20Campuses.csv')
df = df[:9]

In [5]:
df['text'] = [
    'Muon000',
    'Muon001', 
    'Muon002',
    '4 Paddle Detector',
    '2 Paddle Detector',
    'PI3crm001',
    'APO New Mexico',
    'Colombo',
    'Santa Marta'
]
df # Data's lon and lat values must be updated later with real locations once provided

         lat         lon               text
0  35.888827 -106.305022            Muon000
1  39.503487  -84.743859            Muon001
2  44.620822 -123.120917            Muon002
3  40.641371  -80.242936  4 Paddle Detector
4  39.361063  -84.540750  2 Paddle Detector
5  39.957354  -83.011455          PI3crm001
6  41.672189  -83.568625     APO New Mexico
7  40.746102  -74.006642            Colombo
8  35.899725 -106.290127        Santa Marta

In [7]:
df.to_csv(path_or_buf='../app_data/detector_locations.csv')

In [3]:
import json

detectors = {
    'Muon000':{'label':'Muon000', 'value':'Muon000'},
    'Muon001':{'label':'Muon001 - NSC Building', 'value':'Muon001'},
    'Muon002':{'label':'Muon002 - NSC Building (CHARA)', 'value':'Muon002'},
    '4 Paddle Detector':{'label':'4 Paddle Detector', 'value':'4 Paddle Detector'},
    '2 Paddle Detector':{'label':'2 Paddle Detector', 'value':'2 Paddle Detector'},
    'PI3crm001':{'label':'PI3crm001 in Rm415 SA Building', 'value':'PI3crm001'},
    'APO New Mexico':{'label':'APO New Mexico', 'value':'APO New Mexico'},
    'Colombo':{'label':'Colombo', 'value':'Colombo'},
    'Santa Marta':{'label':'Santa Marta', 'value':'Santa Marta'}
}
with open('./app_data/detectors.json', 'w') as f:
    json.dump(detectors, f)